<div class="col-md-3"></div>
<div class="col-md-6">
    <ul class="breadcrumb">
        <li><a ng-href="/" class="text-center"><i class="glyphicon glyphicon-home"></i>Home</a></li>
        <li class="active">Edit Pizza</li>
    </ul>
    <div class="">
        <h3 class="text-center col-md-12 center-block">Pizza Name</h3>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <input name="pizza.name" ng-model="pizza.name" type="text" class="form-control center-block"
                   id="title" placeholder="Pizza Name Here"/>
            <input type="hidden" name="ingredientSelected" value="" required>
            <ul class="list-unstyled">
                <li ng-repeat="avIngred in availableIngredients track by $index">
                    <input ng-click="changeRadio(avIngred)" type="radio" id="{{avIngred._id}}" name="ingredient"
                           ng-value="{{avIngred.id}}" required/>
                    <label>{{avIngred.name}}</label>
                    <span style="display: none" name="{{avIngred.name}}" class="animated">(selected)</span>
                </li>
            </ul>
            <button ng-click="addIngredient()" class="btn btn-primary center-block" value="Add">Add</button>

            <form ng-submit="updatePizza()" class="form-horizontal" role="form" method="post">
                <fieldset>
                    <h4 class="text-center">Ingredients Selected</h4>
                    <div class="well bs-component">
                        <!--<legend class="text-center">Current Ingredients</legend>-->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <ul class="list-unstyled col-sm-12" id="addIngredients">
                                    <li ng-repeat="ingredient in ingredients track by $index">
                                        {{ingredient.name}}
                                        <a ng-click="removeIngredient(ingredient._id, pizza)" class="delete-item"><i class="glyphicon glyphicon-trash pull-right"></i></a>
                                        <input id="{{ingredient._id}}" name="{{ingredient.name}}" type="hidden"
                                               value="{{ingredient._id}}">
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <input type="submit" class="btn btn-primary center-block" id="submit" value="Save"/>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div class="col-md-3"></div>