<div class="col-md-3"></div>
<div class="col-md-6">
    <h1>Pizzas App</h1>
    <ul class="breadcrumb">
        <li class="active"><a ng-href="/" class="text-center"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    </ul>
    <div class="well bs-component">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>Available Pizzas
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="pizza in pizzas">
                        <span>
                              {{pizza.name}}
                        </span>
                        <a ng-click="removePizza(pizza)" class="trash"><span class="pull-right glyphicon glyphicon-trash"></span></a>
                        <a href="#/pizzas/edit/{{pizza._id}}"><span class="pull-right glyphicon glyphicon-pencil"></span></a>
                    </li>
                </ul>

            </div>
        </div>
        <div>
            <button ng-click="addPizza()" class="btn-primary btn-lg center-block nodecoration">New Pizza</button>
        </div>
    </div>
</div>
<div class="col-md-3"></div>
