<div class="col-md-2"></div>
<div class="col-md-8">
    <ul class="breadcrumb">
        <li><a ng-href="/" class="text-center"><i class="glyphicon glyphicon-home"></i>Home</a></li>
        <li class="active">New Pizza</li>
    </ul>
    <div class="well bs-component">
        <form ng-submit="createPizza()" class="form-horizontal" id="form-new" role="form"
              method="post">
            <fieldset>
                <legend class="text-center">Pizza Name *</legend>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input name="name" ng-model="name" type="text" required class="form-control"
                               id="title" placeholder="Pizza Name Here"/>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="text-center">Ingredients *</legend>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input type="hidden" name="ingredientSelected" value="">
                        <ul class="list-unstyled">
                            <li ng-repeat="avIngred in availableIngredients track by $index">
                                <input ng-click="changeRadio(avIngred)" type="radio" id="{{avIngred._id}}"
                                       name="ingredient"
                                       ng-value="{{avIngred.id}}" required/>
                                <label>{{avIngred.name}}</label>
                                <span style="display: none" name="{{avIngred.name}}" class="animated">(selected)</span>
                            </li>
                        </ul>
                        <div class="col-xs-12">
                            <div class="col-xs-5"></div>
                            <div ng-click="addIngredient()" class="col-xs-3 col-md-2 btn btn-primary center-block" value="Add">Add</div>
                            <div class="col-xs-4"></div>
                        </div>
                        <h4 class="text-center">Ingredients Selected</h4>
                        <ul class="list-unstyled col-sm-12 custom-component" id="addIngredients">
                            <li ng-repeat="ingredient in ingredients track by $index">{{ingredient.name}}
                                <input id="{{ingredient._id}}" ng-model="{{ingredients.name}}" name="{{ingredients.name}}" type="hidden"
                                       value="{{ingredient._id}}">
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <input type="submit" class="btn btn-primary center-block" id="submit" value="Save"/>
            </fieldset>
        </form>
    </div>
</div>
<div class="col-md-2"></div>